doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fonts/stylesheet.css')
    
  body
    .nav
      a(href='/' class=(home ? 'hide': '')) [Return Home]
      a(href='/logout' style="float: right" class=(signedIn ? '': 'hide')) [Logout]
      a(href='/servers' style="float: right") [Servers]
      
    block content
