extends ../layout

block content
  h3 Why the site from the 90s?
  p We could argue that we're going for a 'minimal' and 'elegant look', but the truth is - we have no front end developers. And we'd much rather serve you a clean basic interface than some mucky messed up rubbish we tried to be fancy with.
  
  h3 What does SimplyDM have?
  p Our servers... which enables you to... providing the best DM experience possible.
  
  h3 Were are SimplyDM servers hosted?
  p We host our servers throughout multiple Datacenters accross Europe, and America (Coming soon) to give you, the players, the best latency whilst deathmatching.

  h3 Wait, you're asking for my pennies!?
  p Sorry old chap, but servers don't run on whisky and air (just the system adminstrators that manage them). We wanted to make SimplyDM Premium as reasonably priced as possible. We feel that sacraficing £2/$3.11/€2.84, the equivalent to a fancy cup of coffee, is worth while.
